In [1]:
import pandas as pd
import datetime
import numpy as np
#import gc

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
# Paths

MAIN_PATH = "/home/mahesh/Desktop/ML/kaggle/amex/"

# Data
FILENAME_TRAIN_DATA_CSV     = MAIN_PATH + "data/orig/train_data.csv"
FILENAME_TRAIN_LABELS_CSV   = MAIN_PATH + "data/orig/train_labels.csv"
FILENAME_CID_MAP            = MAIN_PATH + "data/processed/cid_map.csv"
FILENAME_TRAIN_DATA_FEATHER = MAIN_PATH + "data/processed/train_data.f"

In [ ]:
CDATA_SIZE = 13
NUM_C_IN_CHUNK = 1000


def process_cid(chunk, chunksize):
    for i in range(0, NUM_C_IN_CHUNK):
        cids = (chunk.iloc[(i*CDATA_SIZE):(i*CDATA_SIZE+(CDATA_SIZE))]["customer_ID"]).tolist()
        if (len(set(cids))!=1):
            print((cids))
            return (i+1)
    return 0


chunksize = CDATA_SIZE*NUM_C_IN_CHUNK
chunk_count = 0
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        flag = process_cid(chunk, chunksize)
        if (flag != 0 ):
            print(f'chunk_size {chunk_count} failed at {flag}.')
        chunk_count += 1

In [35]:
chunksize = 10
chunk = None
with pd.read_csv(FILENAME_TRAIN_LABELS_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        chunk.head()
        #chunk.info()
        #print(chunk.dtypes)
        #chunk.describe()
        break
chunk.head()
chunk.describe()
chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_ID  10 non-null     object
 1   target       10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [42]:
chunksize = 10
chunk = None
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        #chunk.head()
        #chunk.info()
        #print(chunk.dtypes)
        #chunk.describe()
        break
#chunk.describe()
chunk.info()
#chunk.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 15.0+ KB

We need to remap the string customer-ids to our own id. We will then save this mapping in a csv file. 

TBD: We also need to count the number of occurances of each cid in the same mapping dict and then we need to write this to the CSV file.

In [18]:
def count_cids(cid_count_dict, chunk):
    for index, row in chunk.iterrows():
        cid = row['customer_ID']
        if cid in cid_count_dict:
            i = cid_count_dict[cid]
            cid_count_dict[cid] = i+1
        else:
            cid_count_dict[cid] = 1

def remap_cids(cid_map_dict, chunk):
    for index, row in chunk.iterrows():
        cid = row['customer_ID']
        if cid in cid_map_dict:
            pass
        else:
            cid_map_dict[cid] = np.uint32(remap_cids.count)
            remap_cids.count += 1
    
    
    
chunksize = 100000
cid_count_dict = {}
cid_map_dict = {}
total_rows = 0

remap_cids.count = 0

chunk_count = 0

print(datetime.datetime.now())
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        #count_cid(cid_count_dict, chunk)
        #total_rows += len(chunk.index)
        #print(f'chunk : {chunk_count}')
        remap_cids(cid_map_dict, chunk)
        chunk_count += 1
print(datetime.datetime.now())
# Start: 2022-06-03 07:55:21.598694
# End  : 2022-06-03 08:02:06.564735

2022-07-20 11:19:11.307424
2022-07-20 11:26:59.547063

In [7]:
def write_cid_data_to_file(filename, cid_map_dict):
    with open(filename, 'w') as f:
        for key in cid_map_dict.keys():
            f.write("%s, %s\n" % (key, cid_map_dict[key]))
            
write_cid_data_to_file(FILENAME_CID_MAP, cid_map_dict)

Go though the cid->count dict and create buckets based on count of number of rows per cid. We see that each customer has between 1 to 13 rows of data.

In [8]:
cid_buckets = {}

print(datetime.datetime.now())
for cid in cid_count_dict:
    count = cid_count_dict[cid]
    if (count in cid_buckets):
        c = cid_buckets[count]
        cid_buckets[count] = c + 1
    else:
        cid_buckets[count] = 1
print(datetime.datetime.now())

total_rows = 0
total_cids = 0
for b in sorted(cid_buckets.keys()):
    print(f'{b} : {cid_buckets[b]}')
    total_rows += cid_buckets[b]*b
    total_cids += cid_buckets[b]
    
print(f'total rows:{total_rows}')
print(f'total cids:{total_cids}')

2022-06-05 18:34:54.170492
2022-06-05 18:34:54.170611
total rows:0
total cids:0

Number of rows per cid below
1 : 5120, 2 : 6098, 3 : 5778, 4 : 4673, 5 : 4671, 6 : 5515, 7 : 5198, 8 : 6110, 9 : 6411
10 : 6721, 11 : 5961, 12 : 10623, 13 : 386034

total rows:5531451

total cids:458913


If we add zeroed out rows to have 13 rows per cid, then we will add (458913 \* 13 - 5531415 = 434418 rows) which is about 7% additional rows that are all zeroed out.

Iterate over the rows and collect some stats on the columns (max, min value), in the case of enums we'll collect the data in a set.

In [29]:
#chunk.head()
#chunk.info()
#print(chunk.dtypes)
#chunk.describe()
#print(type(chunk["customer_ID"][0]))
#print((chunk["customer_ID"]))
#print((chunk["S_2"][0]))


id_time_cols = set(['customer_ID', 'S_2'])
cat_cols = set(['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68'])


def process_cat_col(chunk, col_stats, col):
    vals = chunk[col].astype("category").cat.categories.values.tolist()
    n_null_count = chunk[col].isnull().sum()
    if col in col_stats:
        (c_cat_vals, c_null_count) = col_stats[col]
        col_stats[col] = (c_cat_vals.union(set(vals)), c_null_count + n_null_count)
    else:
        col_stats[col] = (set(vals), n_null_count)
    
def process_real_col( chunk, col_stats, col):
    n_min = chunk[col].min()
    n_max = chunk[col].max()
    n_nan_count = chunk[col].isnull().sum()
    if col in col_stats:
        ((c_min, c_max), c_nan_count) = col_stats[col]
        if (c_min < n_min):
            n_min = c_min
        if (c_max > n_max):
            n_max = c_max
        col_stats[col] = ((n_min, n_max), c_nan_count + n_nan_count)
    else:
        col_stats[col] = ((n_min, n_max), n_nan_count)

def process_chunk(chunk, col_stats):
    columns = list(chunk)
    for col in columns:
        if col not in id_time_cols:
            if col in cat_cols:
                process_cat_col(chunk, col_stats, col)
            else:
                process_real_col(chunk, col_stats, col)
            
chunksize = 100000
col_stats = {}

print(datetime.datetime.now())
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        process_chunk(chunk, col_stats)
print(datetime.datetime.now())
# 2022-06-04 12:56:04.261847
# 2022-06-04 12:57:42.292620

2022-07-20 11:39:58.778921
2022-07-20 11:41:46.622170

In [10]:
TOTAL_ROWS = 5531451

for col in col_stats:
    if col in cat_cols:
        print (f'{col} values are {col_stats[col][0]}, null values are {(col_stats[col][1]/TOTAL_ROWS)*100}')
    else:
        print (f'{col} min, max is {col_stats[col][0]}, null values are {(col_stats[col][1]/TOTAL_ROWS)*100}')

P_2 min, max is (-0.4589548331054999, 1.009999947398878), null values are 0.8313370216964772
D_39 min, max is (5.026190099677308e-09, 5.389619396242631), null values are 0.0
B_1 min, max is (-7.588799098308654, 1.3240604020685645), null values are 0.0
B_2 min, max is (9.192279870617882e-09, 1.009999999641531), null values are 0.0364461332117016
R_1 min, max is (1.5342230152981531e-09, 3.256284433154198), null values are 0.0
S_3 min, max is (-0.6271320453080809, 5.482888258321006), null values are 18.44984254583472
D_41 min, max is (5.566545069335403e-10, 8.988807033179892), null values are 0.0364461332117016
B_3 min, max is (6.2852931681511845e-09, 1.6252622436744049), null values are 0.0364461332117016
D_42 min, max is (-0.0004543302584009, 4.191118756428802), null values are 85.69427804747795
D_43 min, max is (1.1545498247667041e-07, 10.111619400622503), null values are 29.981211078250535
D_44 min, max is (5.153088222797917e-10, 5.634723661789413), null values are 4.9592593335817305
B_4 min, max is (3.0993319777294914e-09, 19.803285707969977), null values are 0.0
D_45 min, max is (1.5632410106380945e-08, 1.6100019829291632), null values are 0.0364642116507947
B_5 min, max is (2.804821708224381e-11, 144.2070226881703), null values are 0.0
R_2 min, max is (8.26574798606927e-10, 1.0099999294503634), null values are 0.0
D_46 min, max is (-17.28934305264782, 16.3199007299845), null values are 21.905626570677388
D_47 min, max is (-0.0266216416337296, 1.643096220655841), null values are 0.0
D_48 min, max is (-0.0096152769201819, 8.97142521306228), null values are 12.993426137192573
D_49 min, max is (5.021298330409873e-07, 45.84011802819581), null values are 90.13759680778153
B_6 min, max is (-0.0051781684390964, 1214.516925566757), null values are 0.004212276308693686
B_7 min, max is (-2.652748476905915, 1.252750103111754), null values are 0.0
B_8 min, max is (1.1537036029851677e-08, 1.0190789399020022), null values are 0.40257068172528326
D_50 min, max is (-306.487066636102, 244.0426689670196), null values are 56.80972316305433
D_51 min, max is (3.5514975182948656e-10, 2.676605889987304), null values are 0.0
B_9 min, max is (6.726069862184048e-09, 27.4248585069128), null values are 0.0
R_3 min, max is (2.238321811232069e-09, 11.602601280229234), null values are 0.0
D_52 min, max is (-0.0070831094650515, 1.0099999539921447), null values are 0.5344528949094912
P_3 min, max is (-1.5196897383880732, 2.428050913879042), null values are 5.450504759058699
B_10 min, max is (-0.0029584814025298, 4097.440729316883), null values are 0.0
D_53 min, max is (5.678128922159688e-08, 7.901938888715765), null values are 73.84292114311417
S_5 min, max is (8.168134859598552e-09, 206.8752804763748), null values are 0.0
B_11 min, max is (2.0178136377335682e-08, 1.9703747821721005), null values are 0.0
S_6 min, max is (2.5414648688557127e-09, 1.009999992405927), null values are 0.0
D_54 min, max is (-0.0020057665000509, 1.009999999854298), null values are 0.0364461332117016
R_4 min, max is (4.0246849408731566e-10, 1.0099999574074332), null values are 0.0
S_7 min, max is (-0.4701317509602911, 3.9482712544168175), null values are 18.44984254583472
B_12 min, max is (3.3436237443229546e-08, 420.7489933517321), null values are 0.0
S_8 min, max is (6.187214479647096e-09, 1.2314128602139396), null values are 0.0
D_55 min, max is (2.3532179468377386e-08, 2.7677589048751146), null values are 3.340949779723259
D_56 min, max is (-0.0170891463735931, 10.956514240669138), null values are 54.07158085645158
B_13 min, max is (1.9058504148183887e-08, 276.17782447161534), null values are 0.8952262254515135
R_5 min, max is (1.1545892786291034e-09, 35.0045151942227), null values are 0.0
D_58 min, max is (4.96894537627135e-09, 1.2619450801585763), null values are 0.0
S_9 min, max is (2.823498086068632e-07, 2.839634759419279), null values are 53.035686296416614
B_14 min, max is (-8.469853768330966, 55.01151584547242), null values are 0.0
D_59 min, max is (-0.1024300594959483, 2.1533324930182345), null values are 1.9294214122117324
D_60 min, max is (5.905030456831993e-09, 1.0099999981824832), null values are 0.0
D_61 min, max is (-0.0092590178784995, 868.5154479080139), null values are 10.811846656510198
B_15 min, max is (-10.008048525422836, 65.03742749193326), null values are 0.1251570338415725
S_11 min, max is (-0.1999987356407281, 3.8014322413626966), null values are 0.0
D_62 min, max is (-0.0028221346670395, 11.100952972547145), null values are 13.706367461268302
D_63 values are {'CO', 'XZ', 'CL', 'XM', 'XL', 'CR'}, null values are 0.0
D_64 values are {'R', '-1', 'U', 'O'}, null values are 3.9310119532831442
D_65 min, max is (3.53940417308074e-09, 385.9016380179954), null values are 0.0
B_16 min, max is (7.813820201985064e-10, 1.009999996084322), null values are 0.0364461332117016
B_17 min, max is (3.774554910407346e-08, 1.0099999913726403), null values are 56.72287434165104
B_18 min, max is (5.8912217352213873e-08, 1.009999998882574), null values are 0.0
B_19 min, max is (1.573037570201663e-09, 1.0099999902761216), null values are 0.0364461332117016
D_66 values are {0.0, 1.0}, null values are 88.73073267755603
B_20 min, max is (1.218623094656479e-09, 1.0099999893849416), null values are 0.0364461332117016
D_68 values are {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0}, null values are 3.9140362989747177
S_12 min, max is (-0.4041089608718481, 175.33141978722094), null values are 0.0
R_6 min, max is (4.6506810291724314e-10, 14.44820127050934), null values are 0.0
S_13 min, max is (3.6556575733204245e-09, 1.0099999697700697), null values are 0.0
B_21 min, max is (4.4267525967089935e-09, 288.2942875761814), null values are 0.0
D_69 min, max is (6.051601151302322e-09, 13000.909349826265), null values are 3.5157682857535932
B_22 min, max is (2.056147848650269e-09, 3.5077588047431028), null values are 0.0364461332117016
D_70 min, max is (6.623321358034671e-10, 7.004608268552563), null values are 1.7159512034003375
D_71 min, max is (3.026939331407519e-09, 67.03230804932387), null values are 0.0
D_72 min, max is (3.3814336330983957e-10, 3.009999890648296), null values are 0.4286036340193558
S_15 min, max is (-0.2999997869040892, 5.308959433760895), null values are 0.0
B_23 min, max is (4.3529628566130194e-08, 1.6930979992121915), null values are 0.0
D_73 min, max is (-0.0452614935570035, 3.853646942170173), null values are 98.99021070601547
P_4 min, max is (2.668066003685965e-09, 1.2693903764285452), null values are 0.0
D_74 min, max is (2.137169229365909e-09, 4.5090854790484896), null values are 0.39362185437419583
D_75 min, max is (1.1208106220905731e-09, 4.275118160424186), null values are 0.0
D_76 min, max is (3.1284823169608346e-07, 15.13261459533479), null values are 88.74622589985883
B_24 min, max is (1.820938899665947e-09, 46.60664741632751), null values are 0.0
R_7 min, max is (8.676290463860426e-10, 449.9888854042718), null values are 1.807843909310595e-05
D_77 min, max is (2.6787140213757614e-08, 10.229169660158522), null values are 45.44760497742816
B_25 min, max is (-11.253577374985708, 15.699758371405638), null values are 0.1251570338415725
B_26 min, max is (1.691720986629619e-09, 1499.2203098823074), null values are 0.0364461332117016
D_78 min, max is (6.210012193363923e-10, 16.00864434848962), null values are 4.9592593335817305
D_79 min, max is (1.4380668433844334e-10, 18.00687416215985), null values are 1.3728585862913727
R_8 min, max is (1.7380910344311215e-09, 38.00807883554096), null values are 0.0
R_9 min, max is (3.121485060242346e-07, 1.509999456356119), null values are 94.34989119491432
S_16 min, max is (5.083304648323406e-09, 231.75894716058667), null values are 0.0
D_80 min, max is (1.890424892181386e-09, 8.009780011849728), null values are 0.39362185437419583
R_10 min, max is (2.2332498161858896e-09, 21.003672412683155), null values are 0.0
R_11 min, max is (8.363790371390679e-10, 12.502596050582229), null values are 0.0
B_27 min, max is (1.0441590292398215e-09, 1.0053700909808778), null values are 0.0364461332117016
D_81 min, max is (5.759928967119521e-10, 8.00999272648431), null values are 0.4643808649846125
D_82 min, max is (3.8131993883583353e-08, 3.008526474547693), null values are 73.37340600142711
S_17 min, max is (1.0198057098786962e-09, 4.049070266700224), null values are 0.0
R_12 min, max is (-0.0917934736522874, 1.0099999997931357), null values are 0.0010123925892139333
B_28 min, max is (-2.1602069973983548e-05, 25.533371939885043), null values are 0.0
R_13 min, max is (2.894742647807646e-09, 1.0053213737518945), null values are 0.0
D_83 min, max is (5.042657013065721e-09, 38.00753095660378), null values are 3.5157682857535932
R_14 min, max is (6.702420429771647e-10, 4837.304861010084), null values are 1.807843909310595e-05
R_15 min, max is (3.588444008606473e-10, 1.0099999633226306), null values are 0.0
D_84 min, max is (1.1903791830025767e-09, 29.005588414149454), null values are 0.5344528949094912
R_16 min, max is (5.6605600540216e-10, 18.50013083799228), null values are 0.0
B_29 min, max is (2.1463593442572212e-08, 12.023967787593664), null values are 93.1045940748639
B_30 values are {0.0, 1.0, 2.0}, null values are 0.0364461332117016
S_18 min, max is (4.075928594637901e-11, 1.0099999449287145), null values are 0.0
D_86 min, max is (7.226233278423422e-11, 1.009999972996415), null values are 0.0
D_87 min, max is (1.0, 1.0), null values are 99.93012683290515
R_17 min, max is (1.0661143834411746e-09, 1.0015279405762851), null values are 0.0
R_18 min, max is (2.1702871244588806e-09, 1.000777320630167), null values are 0.0
D_88 min, max is (-3.196266383615005e-05, 2.669250093434481), null values are 99.891457051685
B_31 min, max is (0, 1), null values are 0.0
S_19 min, max is (3.1563902669340396e-09, 1.0047294856148157), null values are 0.0
R_19 min, max is (1.954925309410882e-09, 1.0099998779247248), null values are 0.0
B_32 min, max is (2.0981418269450103e-09, 1.0099999980877084), null values are 0.0
S_20 min, max is (6.887991221837809e-10, 1.0099995775256172), null values are 0.0
R_20 min, max is (4.972086038446122e-09, 45.006028224504064), null values are 0.0013558829319829462
R_21 min, max is (3.6468720598925587e-09, 1.0099999400231243), null values are 0.0
B_33 min, max is (2.1471889044555326e-10, 1.0099999926973888), null values are 0.0364461332117016
D_89 min, max is (2.0142997048111512e-10, 1.0099964484531143), null values are 0.5344528949094912
R_22 min, max is (9.57614627594694e-10, 1.0099998432591013), null values are 0.0
R_23 min, max is (8.443200483210232e-10, 1.0099853149541451), null values are 0.0
D_91 min, max is (1.1176824277203679e-09, 3.0097374296653863), null values are 2.8422198804617453
D_92 min, max is (2.0883781381986204e-09, 2.009999865039541), null values are 0.0
D_93 min, max is (6.382818610317642e-09, 1.0099999683795924), null values are 0.0
D_94 min, max is (9.098536091212139e-10, 1.009999863410338), null values are 0.0
R_24 min, max is (6.57026173467301e-10, 1.0099999468648522), null values are 0.0
R_25 min, max is (4.6405618236988746e-11, 1.009999694512149), null values are 0.0
D_96 min, max is (2.6778247841363624e-10, 1.0099997759615107), null values are 0.0
S_22 min, max is (-91.99815644228173, 1.032726655571362), null values are 0.3439242253072476
S_23 min, max is (-206.0854662877428, 885.3349224399432), null values are 0.008044905396432147
S_24 min, max is (-90.48382192636736, 1.05563794214751), null values are 0.3361324180581189
S_25 min, max is (-2.453450577334403, 4.052047833364775), null values are 0.23225370702913214
S_26 min, max is (5.137101491969887e-09, 136.6659908858774), null values are 0.011461730385029172
D_102 min, max is (9.620586682856923e-10, 1.089998124936563), null values are 0.7349789413302223
D_103 min, max is (1.025805731469376e-09, 1.0099999979183536), null values are 1.8358293330267232
D_104 min, max is (2.869107660341541e-09, 1.302976101367775), null values are 1.8358293330267232
D_105 min, max is (-0.0264048177627183, 5.631732239390759), null values are 54.6227563075222
D_106 min, max is (7.532992289949194e-08, 626.829194745863), null values are 90.21325507538619
D_107 min, max is (6.403922221398517e-09, 7.009004013330228), null values are 1.8358293330267232
B_36 min, max is (1.160855576110009e-09, 1.0023400294860374), null values are 0.0
B_37 min, max is (-7.604273054959358, 1.3278119274068874), null values are 0.0010123925892139333
R_26 min, max is (2.9707001384382545e-08, 9.509053396045594), null values are 88.98471666837507
R_27 min, max is (-0.0257109932455966, 1.0099999997379483), null values are 2.3267493466000153
B_38 values are {1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0}, null values are 0.0364461332117016
D_108 min, max is (3.917639360595526e-07, 9.008855929641069), null values are 99.4768461295237
D_109 min, max is (3.1195673266815046e-10, 1.0099995090554998), null values are 0.0288712672316902
D_110 min, max is (-0.0237499422707655, 1.0099996563514988), null values are 99.43353018945662
D_111 min, max is (3.091679908044931e-06, 1.0099995086638465), null values are 99.43353018945662
B_39 min, max is (-0.9793140255532508, 2.0608986049342155), null values are 99.39198593642065
D_112 min, max is (4.3446399642377296e-08, 1.009999999415333), null values are 0.047907863596730764
B_40 min, max is (1.2012753594081717e-08, 5755.075986356201), null values are 0.0009581572719346154
S_27 min, max is (4.417077348328745e-10, 5.456268982023772), null values are 25.326718070900384
D_113 min, max is (1.463473564555784e-11, 25.007557964674724), null values are 3.1947494427773107
D_114 values are {0.0, 1.0}, null values are 3.1947494427773107
D_115 min, max is (2.228053573816169e-07, 1.9995397891296307), null values are 3.1947494427773107
D_116 values are {0.0, 1.0}, null values are 3.1947494427773107
D_117 values are {1.0, 2.0, 3.0, 4.0, 5.0, 6.0, -1.0}, null values are 3.1947494427773107
D_118 min, max is (2.5519062821777186e-08, 1.9709074899577808), null values are 3.1947494427773107
D_119 min, max is (7.076708925080057e-08, 1.9770066990806103), null values are 3.1947494427773107
D_120 values are {0.0, 1.0}, null values are 3.1947494427773107
D_121 min, max is (-0.0320754701614068, 1.7911148155352958), null values are 3.1947494427773107
D_122 min, max is (4.0330947662647896e-08, 2.009276229032558), null values are 3.1947494427773107
D_123 min, max is (8.57864307368672e-10, 104.00615868344808), null values are 3.1947494427773107
D_124 min, max is (-0.0454543793091853, 9.094334743722644), null values are 3.1947494427773107
D_125 min, max is (4.410463673165665e-09, 14.008477392892544), null values are 3.1947494427773107
D_126 values are {0.0, 1.0, -1.0}, null values are 2.1118509411002644
D_127 min, max is (1.006008072401698e-09, 1.0099999960157997), null values are 0.0
D_128 min, max is (3.235348691177364e-09, 1.0234716631646796), null values are 1.8358293330267232
D_129 min, max is (2.42287579999001e-10, 1.0099999971771794), null values are 1.8358293330267232
B_41 min, max is (2.030712941136769e-09, 22.004879042044784), null values are 0.012474122974243104
B_42 min, max is (3.108574445339449e-06, 9.05183699270306), null values are 98.70778933050298
D_130 min, max is (6.097073512734142e-11, 1.0280444096044516), null values are 1.8358293330267232
D_131 min, max is (5.173169237426834e-10, 1.4916238249969112), null values are 1.8358293330267232
D_132 min, max is (-0.0151019866772518, 6.039005598187905), null values are 90.19105475217985
D_133 min, max is (6.380581907272642e-10, 1.5099995456902016), null values are 0.7722386043011138
R_28 min, max is (1.0979224740470524e-09, 1.0099956346812466), null values are 0.0
D_134 min, max is (-0.0124442006641261, 1.0099998439935904), null values are 96.48014598701137
D_135 min, max is (5.0083038493076174e-08, 1.0099986146572169), null values are 96.48014598701137
D_136 min, max is (6.31677341755843e-08, 1.7599103045031437), null values are 96.48014598701137
D_137 min, max is (1.0787865332151373e-08, 1.009997646372751), null values are 96.48014598701137
D_138 min, max is (3.3079232127919414e-08, 3.0053825226360766), null values are 96.48014598701137
D_139 min, max is (3.7673473007870937e-10, 1.0099999942934916), null values are 1.8358293330267232
D_140 min, max is (3.7250732820570675e-09, 1.009999985316682), null values are 0.734563137231081
D_141 min, max is (1.650099723526921e-10, 1.339910388202192), null values are 1.8358293330267232
D_142 min, max is (-0.0145393397907504, 2.2293682152868834), null values are 82.926577492958
D_143 min, max is (5.5496921291808834e-09, 1.00999999917923), null values are 1.8358293330267232
D_144 min, max is (2.5009905724182604e-09, 1.3433309550075665), null values are 0.736280588944926
D_145 min, max is (1.226024014533422e-09, 4.82762988488277), null values are 1.8358293330267232

In [11]:
for col in col_stats:
    if col in cat_cols:
        print (f'{col} values are {col_stats[col][0]}, null values are {(col_stats[col][1]/TOTAL_ROWS)*100}')
        for e in col_stats[col][0]:
            print(type(e))

D_63 values are {'CO', 'XZ', 'CL', 'XM', 'XL', 'CR'}, null values are 0.0
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
D_64 values are {'R', '-1', 'U', 'O'}, null values are 3.9310119532831442
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
D_66 values are {0.0, 1.0}, null values are 88.73073267755603
<class 'float'>
<class 'float'>
D_68 values are {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0}, null values are 3.9140362989747177
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
B_30 values are {0.0, 1.0, 2.0}, null values are 0.0364461332117016
<class 'float'>
<class 'float'>
<class 'float'>
B_38 values are {1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0}, null values are 0.0364461332117016
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
D_114 values are {0.0, 1.0}, null values are 3.1947494427773107
<class 'float'>
<class 'float'>
D_116 values are {0.0, 1.0}, null values are 3.1947494427773107
<class 'float'>
<class 'float'>
D_117 values are {1.0, 2.0, 3.0, 4.0, 5.0, 6.0, -1.0}, null values are 3.1947494427773107
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
D_120 values are {0.0, 1.0}, null values are 3.1947494427773107
<class 'float'>
<class 'float'>
D_126 values are {0.0, 1.0, -1.0}, null values are 2.1118509411002644
<class 'float'>
<class 'float'>
<class 'float'>

In [47]:
#
# Converter dictionary to be used when reading the CSV into a dataframe.
#
converter_dict = {
        "customer_ID" : (lambda x: (np.uint32(cid_map_dict[x]))),
        #"customer_ID" : (lambda x: ""),
        "S_2": pd.to_datetime
    }

dtype_dict = {}

for col_name in col_stats:
    if col_name in cat_cols:
        dtype_dict[col_name] = 'category'
    else:
        dtype_dict[col_name] = 'float32'

In [21]:
chunksize = 100
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize) as reader:
    for chunk in reader:
        chunk.info()
        break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 145.0+ MB

In [28]:
chunksize = 100
with pd.read_csv(FILENAME_TRAIN_DATA_CSV, chunksize=chunksize, dtype = dtype_dict, converters = converter_dict) as reader:
    for chunk in reader:
        chunk.info()
        break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 190 entries, customer_ID to D_145
dtypes: category(11), datetime64[ns](1), float32(177), int64(1)
memory usage: 73.0 KB

<ipython-input-28-35758c9a67e2>:3: ParserWarning: Both a converter and dtype were specified for column customer_ID - only the converter will be used
  for chunk in reader:

In [18]:
print(datetime.datetime.now())
df1 =  pd.read_csv(FILENAME_TRAIN_DATA_CSV)
print(datetime.datetime.now())
df1.info(memory_usage="deep")

2022-06-05 18:42:01.412960
2022-06-05 18:43:43.532927
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: float64(185), int64(1), object(4)
memory usage: 9.2 GB

In [100]:
del df1
gc.collect()

0

In [48]:
print(datetime.datetime.now())
train_df =  pd.read_csv(FILENAME_TRAIN_DATA_CSV,  dtype = dtype_dict, converters = converter_dict)
print(datetime.datetime.now())
train_df.info(memory_usage="deep")

2022-07-22 11:38:23.914909
2022-07-22 11:44:50.024458
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: category(11), datetime64[ns](1), float32(177), int64(1)
memory usage: 3.8 GB

In [43]:
print(datetime.datetime.now())
train_df[["customer_ID"]] = train_df[["customer_ID"]].astype(np.uint32)
print(datetime.datetime.now())
train_df.info(memory_usage="deep")

2022-07-20 18:35:43.923514
2022-07-20 18:35:43.944004
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: category(11), datetime64[ns](1), float32(177), uint32(1)
memory usage: 3.8 GB

In [103]:
train_df.describe()

,customer_ID,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,D_42,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
count,5.531451e+06,5.485466e+06,5.531451e+06,5.531451e+06,5.529435e+06,5.531451e+06,4.510907e+06,5.529435e+06,5.529435e+06,791314.000000,...,1.946990e+05,1.946990e+05,1.946990e+05,5.429903e+06,5.490819e+06,5.429903e+06,944408.000000,5.429903e+06,5.490724e+06,5.429903e+06
mean,2.294194e+05,6.563343e-01,1.531172e-01,1.240101e-01,6.214890e-01,7.880273e-02,2.258454e-01,5.978473e-02,1.325390e-01,0.184974,...,2.427725e-01,1.424409e-02,1.646184e-01,1.789304e-01,2.664348e-02,1.645212e-01,0.390799,1.788023e-01,5.238953e-02,6.233494e-02
std,1.324902e+05,2.446494e-01,2.700709e-01,2.119869e-01,4.014876e-01,2.263971e-01,1.933475e-01,2.025443e-01,2.349929e-01,0.228185,...,2.101320e-01,9.571116e-02,2.670208e-01,3.790614e-01,1.455480e-01,3.482771e-01,0.236182,3.789498e-01,1.825135e-01,1.934937e-01
min,0.000000e+00,-4.589548e-01,5.026190e-09,-7.588799e+00,9.192280e-09,1.534223e-09,-6.271321e-01,5.566545e-10,6.285293e-09,-0.000454,...,6.316773e-08,1.078787e-08,3.307923e-08,3.767347e-10,3.725073e-09,1.650100e-10,-0.014539,5.549692e-09,2.500991e-09,1.226024e-09
25%,1.146690e+05,4.803307e-01,4.528464e-03,8.863645e-03,1.053313e-01,2.895934e-03,1.272588e-01,2.873244e-03,5.227570e-03,0.037516,...,9.314305e-03,2.532470e-03,3.517452e-03,3.027212e-03,2.555848e-03,3.026087e-03,0.199399,3.028116e-03,2.752895e-03,3.028347e-03
50%,2.293800e+05,6.942950e-01,9.056902e-03,3.132968e-02,8.143328e-01,5.782230e-03,1.639082e-01,5.746725e-03,9.777229e-03,0.120519,...,2.539468e-01,5.069830e-03,7.037814e-03,6.053010e-03,5.110523e-03,6.051590e-03,0.382136,6.053151e-03,5.508129e-03,6.053247e-03
75%,3.442090e+05,8.648159e-01,2.366407e-01,1.259019e-01,1.002403e+00,8.660590e-03,2.581017e-01,8.615665e-03,1.550507e-01,0.250869,...,2.582450e-01,7.573434e-03,5.015469e-01,9.080455e-03,7.663697e-03,9.078914e-03,0.559307,9.076287e-03,8.260448e-03,9.080930e-03
max,4.589120e+05,1.010000e+00,5.389619e+00,1.324060e+00,1.010000e+00,3.256284e+00,5.482888e+00,8.988807e+00,1.625262e+00,4.191119,...,1.759910e+00,1.009998e+00,3.005383e+00,1.010000e+00,1.010000e+00,1.339910e+00,2.229368,1.010000e+00,1.343331e+00,4.827630e+00

In [26]:
t_count = {}
for t in train_df.dtypes.tolist():
    if t in t_count:
        t_count[t] += 1
    else:
        t_count[t] = 1
        
        
print(t_count)

{dtype('uint32'): 1, dtype('<M8[ns]'): 1, dtype('float32'): 177, CategoricalDtype(categories=['CL', 'CO', 'CR', 'XL', 'XM', 'XZ'], ordered=False): 1, CategoricalDtype(categories=['-1', 'O', 'R', 'U'], ordered=False): 1, CategoricalDtype(categories=['0.0', '1.0'], ordered=False): 4, CategoricalDtype(categories=['0.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0'], ordered=False): 1, CategoricalDtype(categories=['0.0', '1.0', '2.0'], ordered=False): 1, CategoricalDtype(categories=['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0'], ordered=False): 1, CategoricalDtype(categories=['-1.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0'], ordered=False): 1, CategoricalDtype(categories=['-1.0', '0.0', '1.0'], ordered=False): 1}

Why we are using feather: https://towardsdatascience.com/the-best-format-to-save-pandas-data-414dca023e0d

In [30]:
train_df.to_feather(FILENAME_TRAIN_DATA_FEATHER)

In [32]:
train_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: category(11), datetime64[ns](1), float32(177), uint32(1)
memory usage: 3.8 GB

In [45]:
print(datetime.datetime.now())
train_labels_df =  pd.read_csv(FILENAME_TRAIN_LABELS_CSV, converters = {"customer_ID" : (lambda x: (np.uint32(cid_map_dict[x])))})
print(datetime.datetime.now())
train_labels_df.info(memory_usage="deep")

2022-07-22 11:35:44.609629
2022-07-22 11:35:45.012990
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_ID  458913 non-null  int64
 1   target       458913 non-null  int64
dtypes: int64(2)
memory usage: 7.0 MB

In [39]:
(train_labels_df['target']==1).sum()

118828

NameError: name 'train_df' is not defined